/* typographie de la page */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
* {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

body {
    font-family: 'Montserrat, sans-serif';
    width: 100%;
    min-height: 1104px;
    background: #fafafa;
}


/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    width: 85%;
    height: 80px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

#logo {
    width: 20%;
    height: 80px;
    background: center / contain no-repeat url('../assets/LOGO.png');
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 230px;
    margin-right: 20px;
}

.accueil,
.propos {
    width: auto;
    font: 24px 'Montserrat';
    font-weight: 500;
    color: #FF6060;
}

#banner {
    width: 85%;
    height: 231px;
    background-image: url('../assets/backgroundPropos.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    border-radius: 25px;
}